@charset "UTF-8";
/* CSS Document */

body {
      font-family: Verdana;
      background-color: #42413C;
      margin: 0;
      padding: 0;
      color: #000;
  }
  
  
  ul, ol, dl { 
      padding: 0;
      margin: 0;
  }
  h1, h2, h3, h4, h5, h6, p {
      margin-top: 0;	
      padding-right: 15px;
      padding-left: 15px; 
  }
  a img { 
      border: none;
  }
  
  a:link {
      color: #42413C;
      text-decoration: underline; 
  }
  a:visited {
      color: #6E6C64;
      text-decoration: underline;
  }
  a:hover, a:active, a:focus { 
      text-decoration: none;
  }
  
  
  .container {
      width: 960px;
      background-color: #FFF;
      margin: 0 auto; 
  }
  
  
  .header {
      background-image: none;
      border-bottom: 2px;
      border-bottom-style:solid;
      border-bottom-color:#fe8103;
      padding-left:20px;
      
  }
  
  .black-box {
      background-image: none;
      @include background-image(linear-gradient(rgb(80,80,84) 30%, #464649 94%)); 
      background-color: #464649;
      font-family:Verdana;
      font-size:40px;
      color:white;	
      border-radius:10px;
  }
  
  .sidebar1 {
      float: left;
      width: 180px;
      background-image: none;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family:Verdana;
      color:white;
      border-radius:10px;
  }
  .sidebar-inner {
      background-image: none;
      @include background-image(linear-gradient(rgb(80,80,84) 30%, #464649 94%)); 
      background-color: #464649;
      font-family:Verdana;
	  font-size:12px;
      color:white;
      border-radius:10px;
  }
  .content {
  
      padding: 10px 0;
      width: 780px;
      float: left;
      background-image: none;
      @include background-image(linear-gradient(rgb(247,247,247) 30%, #f4f4f4 94%)); 
      background-color: #f7f7f7;
  }
  
  
  .footer {
      padding: 10px 0;
      position: relative;
      clear: both; 
      background-image: none;
      @include background-image(linear-gradient(rgb(80,80,84) 30%, #464649 94%)); 
      background-color: #464649;
      font-family:Verdana;
      font-size:14px;
      color:white;
  }
  
 
  .fltrt {  
      float: right;
      margin-left: 8px;
  }
  .fltlft { 
      float: left;
      margin-right: 8px;
  }
  .clearfloat { 
      clear:both;
      height:0;
      font-size: 1px;
      line-height: 0px;
  }