<!--
  ~ Copyright (c) 2010-2011. EMC Corporation.  All Rights Reserved.
  -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:lang="http://www.springframework.org/schema/lang" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <util:properties id="runtimeConfig" location="classpath:com/emc/xcp/config/web/deployment-ui.properties"/>
    <context:spring-configured/>

    <!-- Add fallback locales for new languages here -->
    <bean id="localeFilter" class="com.emc.xcp.ui.LocaleFilter">
         <!-- Add fallback locales for new languages in applicationContext-ui-app.xml -->
        <property name="supportedLocales">
            <set>
                <value>en</value>
                <value>en_US</value>
                <value>fr</value>
                <value>fr_FR</value>
                <value>es</value>
                <value>es_ES</value>
                <value>de</value>
                <value>de_DE</value>
                <value>it</value>
                <value>it_IT</value>
                <value>ja</value>
                <value>ja_JP</value>
                <value>zh</value>
                <value>zh_CN</value>
                <value>zh_SG</value>
                <value>zh_HANS</value>
                <value>ko</value>
                <value>ko_KR</value>
                <value>nl</value>
                <value>nl_NL</value>
                <value>ru</value>
                <value>ru_RU</value>
                <value>ar</value>
                <value>ar_SA</value>
                <value>ar_AE</value>
            </set>
        </property>

        <property name="defaultLocale" value="en_US"/>

        <!-- Locales zh_HK, zh_MO, zh_TW,zh_HANT will fallback to 'en' forcefully-->
        <property name="fallbackLocale">
            <map>
                <entry key="zh_HK" value="en"/>
                <entry key="zh_MO" value="en"/>
                <entry key="zh_TW" value="en"/>
                <entry key="zh_HANT" value="en"/>
            </map>
        </property>
    </bean>
    <bean id="CompressingFilter" class="com.planetj.servlet.filter.compression.CompressingFilter"/>
    <bean id="componentCacheFilter" class="com.emc.xcp.ui.ResponseCachingFilter">
        <property name="cacheSeconds" value="#{runtimeConfig.ComponentResourceCacheSeconds}" />
        <property name="useExpiresHeader" value="true" />
        <property name="useCacheControlHeader" value="true" />
        <property name="useCacheControlNoStore" value="false" />
    </bean>
</beans>