<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright (c) 2010-2011. EMC Corporation.  All Rights Reserved.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:lang="http://www.springframework.org/schema/lang" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd">

    <context:property-placeholder location="classpath*:com/emc/xcp/config/web/deployment-ui.properties"/>

    <context:spring-configured/>


    <!-- The controllers are autodetected POJOs labeled with the @Controller annotation. -->
    <context:component-scan base-package="com.emc.xcp.ui.services" use-default-filters="false">
        <context:include-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

    <!-- Allows for mapping the DispatcherServlet to "/" by forwarding static resource requests to the container's default Servlet -->
    <mvc:default-servlet-handler/>

    <bean id="pageIdentityAttribute" class="java.lang.String">
        <constructor-arg>
            <value>pageIdentity</value>
        </constructor-arg>
    </bean>

    <bean id="modelManager" class="com.emc.xcp.ui.services.config.ModelManager"/>
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation">
                <value>classpath:/com/emc/xcp/config/web/resourceCache.xml</value>
        </property>
    </bean>


    <bean id="resourceBundleCache" class="com.emc.xcp.ui.services.support.ResourceBundleCache">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
        <property name="resourceBundlePathBuilder" ref="resourceBundlePathBuilder"/>
        <property name="addPrefixToMissingStrings" value="#{runtimeConfig['com.emc.xcp.ui.services.support.ResourceBundleCache.addPrefixToMissingStrings']}" />
        <property name="stringsPrefix" value="#{runtimeConfig['com.emc.xcp.ui.services.support.ResourceBundleCache.stringsPrefix']}" />
    </bean>

    <bean id="pageFilePathBuilder" class="com.emc.xcp.ui.services.support.PageFilePathBuilder">
        <property name="basePath" value="/pages"/>
        <property name="fileExt" value=".json"/>
    </bean>

    <bean id="stepFilePathBuilder" class="com.emc.xcp.ui.services.support.PageFilePathBuilder">
        <property name="basePath" value="/steps"/>
        <property name="fileExt" value=".json"/>
    </bean>
    <bean id="contextMenuFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/actions"/>
        <property name="fileExt" value=".json"/>
    </bean>
    <bean id="pickListFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/picklist" />
        <property name="fileExt" value=".json" />
    </bean>
    <bean id="userDefinedActionFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/actions" />
        <property name="fileExt" value=".json" />
    </bean>

    <bean id="typesFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/types" />
        <property name="fileExt" value=".json" />
    </bean>
    <bean id="facetsFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/facets" />
        <property name="fileExt" value=".json" />
    </bean>
    <bean id="appParamFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/appparam" />
        <property name="fileExt" value=".json" />
    </bean>
    <bean id="jsFilePathBuilder" class="com.emc.xcp.ui.services.support.FilePathBuilder">
        <property name="basePath" value="/js" />
        <property name="fileExt" value=".js" />
    </bean>

    <bean id="resourceBundlePathBuilder" class="com.emc.xcp.ui.services.support.ResourceBundlePathBuilder">
        <property name="basePath" value="/locales"/>
        <property name="resourceBundleName" value="application"/>
        <property name="fileExt" value=".properties"/>
    </bean>

    <bean id="resourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="pageFilePathBuilder"/>
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="stepResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="stepFilePathBuilder"/>
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="contextMenuResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="contextMenuFilePathBuilder"/>
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="picklistResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="pickListFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>
    <bean id="userDefinedActionResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="userDefinedActionFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="typesResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="typesFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="facetsResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="facetsFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="appParamResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="appParamFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <bean id="jsResourceManager" class="com.emc.xcp.ui.services.support.ResourceManager" scope="singleton">
        <property name="filePathBuilder" ref="jsFilePathBuilder" />
        <property name="resourceBundleCache" ref="resourceBundleCache"/>
        <property name="loaders">
            <list>
                <bean class="com.emc.xcp.ui.services.support.ServletFileLoader"/>
            </list>
        </property>
    </bean>

    <!--To resolve the pageView-->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver"/>

    <bean id="pageView" class="com.emc.xcp.ui.services.PageView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="pageIdentityAttribute" ref="pageIdentityAttribute"/>
        <property name="resourceManager" ref="resourceManager"/>
    </bean>
    <bean id="stepView" class="com.emc.xcp.ui.services.PageView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="pageIdentityAttribute" ref="pageIdentityAttribute"/>
        <property name="resourceManager" ref="stepResourceManager"/>
    </bean>
    <bean id="contextMenuView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="contextMenuResourceManager"/>
        <property name="fileName" value="context_menu_config"/>
    </bean>
    <bean id="picklistView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="picklistResourceManager"/>
        <property name="fileName" value="picklist_data"/>
    </bean>
    <bean id="userDefinedActionView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="userDefinedActionResourceManager"/>
        <property name="fileName" value="user_defined_actions"/>
    </bean>

    <bean id="typesView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="typesResourceManager"/>
        <property name="fileName" value="types_data"/>
    </bean>
    <bean id="facetsView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="facetsResourceManager"/>
        <property name="fileName" value="facet_data"/>
    </bean>
    <bean id="appParamView" class="com.emc.xcp.ui.services.JsonFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="appParamResourceManager"/>
        <property name="fileName" value="application_parameter_data"/>
    </bean>
    <bean id="jsView" class="com.emc.xcp.ui.services.JavaScriptFileView">
        <property name="requestContextAttribute" value="requestContext"/>
        <property name="resourceManager" ref="jsResourceManager"/>
        <property name="fileName" value="AppConfiguration"/>
    </bean>

    <mvc:interceptors>
      <bean class="com.emc.xcp.ui.services.CachingHeaderInterceptor">
          <property name="cacheSeconds" value="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
      </bean>
    </mvc:interceptors>

    <mvc:resources mapping="/icons/**" location="/icons/, classpath:/icons/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/resources/{application['version']}/js/**" location="/js/, classpath:/js/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/js/resources/**" location="/js/resources/, classpath:/js/resources/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/js/ext-4.1/**" location="/js/ext-4.1/, classpath:/js/ext-4.1/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/Artifacts/Resources/**" location="/Artifacts/Resources/, classpath:/Artifacts/Resources/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/Artifacts/{application['version']}/Resources/**" location="/Artifacts/Resources/, classpath:/Artifacts/Resources/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:resources mapping="/crystalreportviewers/**" location="/crystalreportviewers/, classpath:/crystalreportviewers/" cache-period="#{runtimeConfig.StaticApplicationResourceCacheSeconds}"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/contextMenu" view-name="contextMenuView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/picklist" view-name="picklistView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/types" view-name="typesView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/facets" view-name="facetsView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/appParam" view-name="appParamView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/user_defined_actions" view-name="userDefinedActionView"/>
    <mvc:view-controller path="/resources/{application['version']}/ui/appParam" view-name="appParamView"/>
    <mvc:view-controller path="/resources/{application['version']}/js/AppConfiguration.js" view-name="jsView"/>

</beans>
